{% extends 'base.html' %}

{% block title %} UrlShortener | Home {% endblock %}

{%block nav%}<a href="api/all_urls" class="btn btn-primary my-2 my-sm-0" >All URL's</a>{% endblock %}
{% block body %}


<div class="container my-2">
    
      {% if messages %}
      <div class="alert alert-primary" role="alert">
       {% for message in messages %}
       {{message}}
       {% if short_code %}
       <b>http://127.0.0.1:8000/{{short_code}}</b>
       {% endif %}
       {% endfor %}
      </div>
      {% endif %}
    <h2>Enter Your URL here</h2>

      <form method="post" class="my-2">
        {% csrf_token %}
        <div class="form-group" >
          <input type="url" class="form-control"  name="long_url" required>
        </div>
       
        <button type="submit" class="btn btn-success">Generate Short URL</button>
      </form>

</div>

{% endblock %}