{% extends 'base.html' %}

{% block title %} UrlShortener | Home {% endblock %}

{% block body %}

<div class="container my-2">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">URL Shortener</a>
        <form class="form-inline">
            
          <a href="/all_urls" class="btn btn-primary my-2 my-sm-0" >All URL's</a>
        </form>
      </nav>
      <hr>
      {% if messages %}
      <div class="alert alert-primary" role="alert">
       {% if message in messages %}
       {{message}}
       {% endif %}
      </div>
      {% endif %}
    <h2>Enter Your URL here</h2>

      <form method="post" class="my-2">
        {% csrf_token %}
        <div class="form-group" >
          <input type="url" class="form-control"  name="long_url" required>
        </div>
       
        <button type="submit" class="btn btn-success">Generate Short URL</button>
      </form>

</div>

{% endblock %}